.title{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color:black;
  background-color: greenyellow;
  border-radius: 25px;
  box-shadow: 2px 3px 3px 2px black;
}


.crest{
  padding: 20px;
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.banner{
  width: 30px;
  length: 100px;
  display: inline;
}

a{
  font-family:Impact;
  font-size: 30px;
  padding-right: 100px;
  padding-left: 100px;
  color: blue;
  background-color:lavender;
  border-radius: 10px;
}

.subtitle{
  background-color: antiquewhite;
  margin: 15px;
  padding: 20px;
  color: black;
  font-family:'Times New Roman', Times, serif;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px black;
}

.navDiv{
  background-color:#9900cc;
  position: relative;
  padding: 20px;
}

.center{
  border: 5px solid black;
  margin: auto;
  width: 50%;
  padding: 10px;
}

nav .center:hover{
  transform: scale(1.1);
  background: yellow;
  box-shadow: 0 0 100px yellow;
}

body{
  background-color: aquamarine;
}

#map, #map2{
  object-fit: cover;
  display: inline;
  width: 50%;
  height: auto;
  margin: 25px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px black;
  transition: 0.5s all ease-in-out;
}

#map:hover{
  background: paleturquoise;
  box-shadow: 0 0 100px paleturquoise;
  transform: scale(1.2);
}


#map2:hover{
  background: yellow !important;
  box-shadow: 0 0 100px yellow !important;
  transform: scale(1.2) !important;
}


p{
  font-family: 'Lucida Sans Unicode';
  background-color: beige;
  margin:15px;
  padding:10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px black;
}

.nextToImage{
  float:left;
  display:inline;
  display:flex;
  margin: auto;
}

body{
  background-color: #9900cc !important;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn{
  0%{
    opacity: 20;
  }
  100% {
  opacity: 1;
  }
}

button{
  width:100%;
  height:auto;
}

.row{
  display:flex;
}

.column{
  flex: 33.33%;
  padding: 5px;
}
